<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button color="primary" routerLink="ardilla" expand="block" fill="solid" shape="round">
    Click para la pagina ardilla
  </ion-button>
  <ion-button color="primary" routerLink="auto" expand="block" fill="solid" shape="round">
    Click para la pagina auto
  </ion-button>
  <ion-button color="primary" routerLink="gato" expand="block" fill="solid" shape="round">
    Click para la pagina gato
  </ion-button>
</ion-content>
