/* Estilos para la tabla */
.table-header {
    background-color: #3498db;
    color: #ffffff;
    font-weight: bold;
  }
  
  .table-row:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  .table-cell {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  /* Añadir un poco de espacio entre las celdas */
  ion-col {
    margin: 5px;
  }